@charset "utf-8";
/* CSS Document */
.navbar.navbar-default.navbar-fixed-top {
	background-color:#003b49 !important;
	box-shadow:none;
	border-color:transparent;
	overflow:hidden;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid {
	width:100%;
}
.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
	margin-top: -9%;
    margin-left: 34%;
}
.navbar.navbar-default .container-fluid #myNavbar .nav.navbar-nav.navbar-right li a {
	font-size:15px;
	font-family:open sans;
	color:white;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar .nav.navbar-nav.navbar-right {
	margin-right:6%;
}
.navbar.navbar-default.navbar-fixed-top .container-fluid #myNavbar {
	margin-right:25px;
}
.container-fluid.two {
	width:100%;
	height:610px;
	margin-top:40px;
	background-image:url(img/banner.jpg); 
} 
.container-fluid.two center h2 {
	font-family:open sans;
	font-size:30px;
	color:white;
	margin-top:15%;
}
.container-fluid.two center p {
	font-family:open sans;
	font-size:22px;
	color:white;
	margin-top:1%;
}
.container-fluid.two center a {
	font-family:open sans;
	font-size:20px;
	color:white;
	border:1px solid white;
	padding:10px;
	border-radius:5px;
	text-decoration:none;
	position: relative;
    top: 65px;
}
.container-fluid.two center a:hover {
	background-color:white;
	color:#003b49;
}
.container {
	height:880px;
	/*background-color:#CCC;*/
}
.container center h3 {
	font-size: 40px;
    font-family: open sans;
    margin-top: 2%;
}
.container .row {
	margin: 0;
    margin-top: 5%;
}
.container .row .col-md-6.col-sm-6.col-xs-12.text-left h2 {
	font-size: 20px;
    font-family: open sans;
	margin-top:7%;
}
.container .row .col-md-6.col-sm-6.col-xs-12.text-left p {
	font-size: 15px;
    font-family: open sans;
    text-align: justify;
}

.container .row .col-md-6.col-sm-6.col-xs-12 {
	height:250px;
}
.container-fluid.three {
	height:180px;
	background-image:url(img/free%20banner.jpg);
}
.container-fluid.three .row.two {
	margin:0;
}
.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
	font-family:open sans;
	font-size:20px;
	border:1px solid white;
	border-radius:5px;
	padding:10px;
	color:white;
	text-decoration:none;
	position: relative;
    top: 88px;
}
.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a:hover {
	background-color:white;
	color:#003b49;
}
.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
	font-family: open sans;
    font-size: 20px;
    margin-top: 12%;
	color:white;
	margin-left: 20%;
}
.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
	margin-top:8%;
}
.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center .bt {
	position:relative;
	top:52px;
}
.container-fluid.four {
	height:360px !important;
	background-color:#EEEDEC;
}
.container-fluid.four .container.two {
	height:auto;
	background-color:transparent;
}
.container-fluid.three .row.three {
	margin:0;
}
.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 {
	height:240px;	
}
.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	font-family:open sans;
	font-size:25px;
}
.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
	font-family: open sans;
    font-size: 18px;
    text-align: justify;
}
.container.three {
	height:505px;
	/*ackground-color:#0F0 !important;*/
}
.container.three .row.four .col-md-4.col-sm-4.col-xs-12 {
	height:210px;	
}
.container.three .row.four .col-md-4.col-sm-4.col-xs-12 center h2 {
	font-family:open sans;
	font-size:25px;
}
.container.three .row.four .col-md-4.col-sm-4.col-xs-12 center p {
	font-family: open sans;
    font-size: 18px;
    text-align: justify
}
.container-fluid.five {
	height:330px !important;
	background-color:#EEEDEC;
}
.container-fluid.five .container.four {
    background-color: transparent;
    height: auto;
}
.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
	height:100px;
}
.container-fluid.six {
	height:275px;
	background-color:#3E3F4D;
	margin-top:3%;
}
.container-fluid.six .container.five {
	background-color: transparent;
    height: auto;
}
.container-fluid.six .row.five .col-md-6.col-sm-6.col-xs-12.text-center p {
	font-family: roboto;
    font-size: 20px;
    color: white;
    font-style: italic;
    margin-top:5	%;
	text-align: justify;
}
.container-fluid.six .row.five .col-md-6.col-sm-6.col-xs-12.text-center h2 {
	font-family: open sans;
    font-size: 20px;
    color: white;
}
#faq {
    background-color: #DDD;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    color: #666;
    padding: 30px 0;
}
#faq .question {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: open sans;
}
#faq p {
    line-height: 1.61em;
    font-size: 16px;
    margin-bottom: 30px;
    color: #666;
    text-align: left;
    font-family: open sans;
}
#details { 
    display: inline-block; 
    vertical-align:middle;
    width: 287px;
    top: 3px;
    position: relative;
 } 
.photo { 
   display: inline-block; 
   vertical-align:middle;
   width: 50px; 
   height: 50px; 
}
#faq {
	background-color:#eeedec;
}
#faq .container.ten .row.ten {
	height:auto;
	
}
#faq .container.ten center h2 {
	font-family:open sans;
	font-size:40px;
	color:black;
}
#faq .container.ten .row.ten .col-xs-12.col-sm-12.col-md-6.col-lg-6 .section-inner .question {
	color:black;
}
#faq .container.ten .row.ten .col-xs-12.col-sm-12.col-md-6.col-lg-6 .section-inner p {
	color:black;
}
#faq .container.ten {
	height:auto;
	background-color:transparent;
}
.container-fluid.saven {
	background-color:#003B49;
	height:280px;
}
.container-fluid.saven .row.six .col-md-8.text-center img {
	margin-top: 5%;
}
.container-fluid.saven .row.six .col-md-8.text-center p {
	font-family: open sans;
    color: white;
    font-size: 22px;
}
.container-fluid.saven .row.six .col-md-4 h2 {
	font-family: open sans;
    color: white;
    font-size: 28px;
	margin-top:12%;
	margin-left:20%;
}
.container-fluid.saven .row.six .col-md-4 p {
	font-family: open sans;
    color: white;
    font-size: 16px;
    margin-top: 5%;
	margin-left:20%;	
	line-height:28px;
}
.container-fluid.saven .row.six .col-md-4 ul {
	float:left;
	margin-left:20%;
	margin-top: 2%;
}
.container-fluid.saven .row.six .col-md-4 ul li {
	float:right;
	margin-right:12px;
}
@media only screen and (width: 320px) {
	.container-fluid.two {
		height:430px;
	}
	.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
		margin-left:2% !important;
	}
	.container-fluid.two center h2 {
		font-size:22px;
		margin-top:38%;
	}
	.container-fluid.two center p {
		font-size:16px;
		margin-top:5%;
	}
	.container-fluid.two center a {
		font-size:12px;
	}
	.container center h3 {
		font-size:41px;
		margin-top:10%;
	}
	.container .row .col-md-6.col-sm-6.col-xs-12.text-left h2 {
		font-size:18px;
	}
	.container {
		height:1635px;
	}
	.container-fluid.five .container.four .row.four {
		margin-top:20%;
	}
	.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
		height:90px;
	} 
	.container-fluid.three {
	    height:248px;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .t {
		margin-top:15px;
		margin-left:0;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txxx {
		margin-top:50px;
		margin-left:0;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txx {
		margin-left:0;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-left:0;
	}
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.four {
	    height:750px !important;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
	}
	.container.three {
		height:1445px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-top:22%;
	}
	.container-fluid.five {
		height:858px !important;
	}
	.container-fluid.six {
		height:520px;
	}
	.container-fluid.six .container.five .row.five .col-md-6.col-sm-6.col-xs-12.text-center img {
		margin-top:20%;
	}
	.container-fluid.saven {
		height:365px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
		line-height:28px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
	
}
@media only screen and (width: 533px) {
	.container-fluid.two {
		height:270px;
	}
	.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
		margin-left:2% !important;
	}
	.container-fluid.two center h2 {
		font-size:22px;
		margin-top:10%;
	}
	.container-fluid.two center p {
		font-size:18px;
		margin-top:5%;
	}
	.container-fluid.two center a {
		font-size:12px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txxx {
		margin-top:62px;
	}
	.container center h3 {
		font-size:72px;
		margin-top:8%;
	}
	.container-fluid.five .container.four .row.four {
		margin-top:12%;
	}
	.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
		height:90px;
	} 
	.container .row .col-md-6.col-sm-6.col-xs-12.text-left h2 {
		font-size:18px;
	}
	.container {
		height:1570px;
	}
	.container .row .col-md-6.col-sm-6.col-xs-12 {
		height:220px;
	}
	.container-fluid.three {
	    height:245px;
    } 
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .t {
		margin-top:25px;
	}
	.container-fluid.four {
	    height:785px !important;
    }
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container.three {
		height:1525px;
	}
	.container-fluid.five {
		height:900px !important;
	}
	.container-fluid.six {
		height:460px;
	}
	.container-fluid.saven {
		height:365px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		margin-left:38%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		margin-left:38%;
	}
	.container-fluid.saven .row.six .col-md-4 ul {
		margin-left: 38%;
        margin-top: 2%;
	}
}
@media only screen and (width: 480px) {
	.container-fluid.two {
		height:270px;
	}
	.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
		margin-left:2% !important;
	}
	.container-fluid.two center h2 {
		font-size:18px;
		margin-top:15%;
	}
	.container-fluid.two center p {
		font-size:15px;
		margin-top:5%;
	}
	.container-fluid.two center a {
		font-size:12px;
	}
	.container center h3 {
		font-size:65px;
		margin-top:10%;
	}
	.container .row .col-md-6.col-sm-6.col-xs-12.text-left h2 {
		font-size:18px;
	}
	.container {
		height:1575px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .t {
	    margin-top:50px;
	}
	.container .row .col-md-6.col-sm-6.col-xs-12 {
		height:220px;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container-fluid.five .container.four .row.four {
		margin-top:12%;
	}
	.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
		height:90px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txxx {
		margin-top:65px;
		margin-left:10%;
	} 
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.four {
	    height:785px !important;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
		margin-left:16%;
	}
	.container.three {
		height:1520px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-top:13%;
		margin-left:8%;
	}
	.container-fluid.five {
		height:898px !important;
	}
	.container-fluid.six {
		height:532px;
	}
	.container-fluid.six .container.five .row.five .col-md-6.col-sm-6.col-xs-12.text-center img {
		margin-top:20%;
	}
	.container-fluid.saven {
		height:390px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
		margin-left:30%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
		margin-left:30%;
		line-height:28px;
	}
	.container-fluid.saven .row.six .col-md-4 ul {
		margin-left:30%;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
}
@media only screen and (width: 360px) {
	.container-fluid.two {
		height:590px;
	}
	.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
		margin-left:-2% !important;
		margin-top:-9%;
	}
	.container-fluid.two center h2 {
		font-size:20px;
		margin-top:55%;
	}
	.container-fluid.two center p {
		font-size:15px;
		margin-top:8%;
	}
	.container-fluid.two center a {
		font-size:12px;
	}
	.container center h3 {
		font-size:48px;
		margin-top:10%;
	}
	.container .row .col-md-6.col-sm-6.col-xs-12.text-left h2 {
		font-size:18px;
	}
	.container {
		height:1488px;
	}
	.container .row .col-md-6.col-sm-6.col-xs-12 {
		height:220px;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txx {
		margin-top:15px;
		margin-left:0 !important;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .t {
		margin-left:0 !important;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-left:0 !important;
	}
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.four {
	    height:760px !important;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:38px;
	}
	.container.three {
		height:1455px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-top:18%;
	}
	.container-fluid.five .container.four .row.four {
		margin-top:18%;
	}
	.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
		height:95px;
	}
	.container-fluid.five {
		height:898px !important;
	}
	.container-fluid.six {
		height:500px;
	}
	.container-fluid.six .container.five .row.five .col-md-6.col-sm-6.col-xs-12.text-center img {
		margin-top:20%;
	}
	.container-fluid.saven {
		height:365px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
		margin-left:27%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
		margin-left:27%;
		line-height:28px;
	}
	.container-fluid.saven .row.six .col-md-4 ul {
		margin-left:24%;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
} 
@media only screen and (width: 640px) {
	.container-fluid.two {
		height:310px;
	}
	.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
		margin-left:2% !important;
	}
	.container-fluid.two center h2 {
		font-size:22px;
	}
	.container-fluid.two center p {
		font-size:15px;
		margin-top:4%;
	}
	.container-fluid.two center a {
		font-size:12px;
		margin-top:-5%;
	}
	.container center h3 {
		font-size:75px;
		margin-top:5%;
	}
	.container {
		height:1485px;
	}
	.container .row .col-md-6.col-sm-6.col-xs-12 {
		height:220px;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txx {
		margin-top:-18px;
	}
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.four {
	    height:772px !important;
    }
	.container-fluid.five .container.four .row.four {
		margin-top:12%;
	}
	.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
		height:90px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-top:4%;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txxx {
		margin-top:60px;
	}
	.container.three {
		height:1505px;
	}
	.container-fluid.five {
		height:915px !important;
	}
	.container-fluid.six {
		height:460px;
	}
	.container-fluid.saven {
		height:365px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
		 margin-top:8%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center img {
		margin-left:-68%;
		margin-top:8%;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		margin-left:38%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		margin-left:38%;
		line-height:28px;
	}
	.container-fluid.saven .row.six .col-md-4 ul {
		margin-left:37%;
		margin-top:2%;
	}
}
@media only screen and (width: 600px) {
	.container-fluid.two {
		height:310px;
	}
	.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
		margin-left:2% !important;
	}
	.container-fluid.two center h2 {
		font-size:22px;
	}
	.container-fluid.two center p {
		font-size:15px;
		margin-top:4%;
	}
	.container-fluid.two center a {
		font-size:12px;
		margin-top:-5%;
	}
	.container center h3 {
		font-size:75px;
		margin-top:5%;
	}
	.container {
		height:1565px;
	}
	.container .row .col-md-6.col-sm-6.col-xs-12 {
		height:220px;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.four {
	    height:788px !important;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .t {
		margin-top:22px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-top:4%;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txxx {
		margin-top:60px;
	}
	.container.three {
		height:1522px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-top:8%;
	}
	.container-fluid.five .container.four .row.four {
		margin-top:12%;
	}
	.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
		height:90px;
	}
	.container-fluid.five {
		height:915px !important;
	}
	.container-fluid.six {
		height:460px;
	}
	.container-fluid.saven {
		height:365px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
		 margin-top:8%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center img {
		margin-left:-72%;
		margin-top:8%;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		margin-left:38%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		margin-left:38%;
		line-height:28px;
	}
	.container-fluid.saven .row.six .col-md-4 ul {
		margin-left:37%;
		margin-top:2%;
	}
}
@media only screen and (width: 768px) {
	.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
		margin-left:5% !important;
	}
	.container-fluid.two center h2 {
		font-size:28px;
		margin-top:28%;
	}
	.container-fluid.two center p {
		margin-top:2%;
	}
	.container {
		height:945px;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container-fluid.four {
		height:425px !important;
	}
	.container.three {
		height:635px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txx {
		margin-top:7%;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .t {
		margin-top:7%;
		margin-left:29%;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-top:9%;
		margin-left:27%;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txx {
		margin-top:7%;
		margin-left:30%;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txxx {
		margin-top:7%;
		margin-left:27%;
	}
	.container center h3 {
		font-size:70px;
	}
	.container-fluid.five {
		height:930px !important;
	}
	.container-fluid.saven {
		height:465px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		margin-top: 3%;
	}
	.container-fluid.saven .row.six .col-md-8.text-center img {
		margin-top: 12%;
        margin-left: -65%;
    }
	.container-fluid.saven .row.six .col-md-4 h2 {
		margin-left: 38%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		margin-left: 38%;
	}
	.container-fluid.saven .row.six .col-md-4 ul {
		margin-left: 38%;
        margin-top: 1%;
	}
	#myDiv .pricing-list.bounce-invert li .pricing-wrapper .is-visible .pricing-header .price .value.size {
	    font-size:20px !important;
    } 
	.value {
	    font-size:45px !important;
	}
}
@media only screen and (width: 1024px) {
	.container {
		height:870px;
	}
	.container.three {
		height:495px;
	}
	#myDiv .pricing-list.bounce-invert li .pricing-wrapper .is-visible .pricing-header .price .value.size {
	    font-size:30px !important;
    } 
	.value {
	    font-size:45px !important;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		line-height:28px;
	}
}
@media only screen and (width: 412px) {
	.container {
		height:1652px;
	}
	.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
		margin-left:5%;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container center h3 {
		font-size:60px;
	}
	.container-fluid.two center h2 {
		margin-top:37%;
	}
	.container-fluid.two center p {
		margin-top:12%;
	}
	.container-fluid.five .container.four .row.four {
		margin-top:20%;
	}
	.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
		height:90px;
	}
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.four {
	    height:805px !important;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
		margin-left: 30px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txxx {
		margin-top:62px;
	} 
	.container.three {
		height:1472px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-top: 20%;
	}
	.container-fluid.five {
		height:878px !important;
	}
	.container-fluid.six {
		height:475px;
	}
	.container-fluid.saven {
		height:375px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
		margin-left:27%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
		margin-left:27%;
		line-height:28px;
	}
	.container-fluid.saven .row.six .col-md-4 ul {
		margin-left:24%;
		line-height:28px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
} 
@media only screen and (width: 375px) {
	.container {
		height:1645px;
	}
	.container center h3 {
		font-size: 55px;
	}
	.container-fluid.two {
		height:620px;
	}
	.container-fluid.two center h2 {
		font-size:25px;
		margin-top:55%;
	}
	.container-fluid.two center p {
		font-size:20px;
		margin-top:8%;
	}
	.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
		margin-top: -8%;
    margin-left: 3%;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
	.container-fluid.five .container.four .row.four {
		margin-top:20%;
	}
	.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
		height:90px;
	}
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.four {
	    height:788px !important;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txxx {
		margin-top:45px;
		margin-left:10%;	
	} 
	.container.three {
		height:1508px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-top:15%;
		margin-left:12%;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txx {
		margin-top:-17px;
		margin-left:12%;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .t {
		margin-top:15px;
		margin-left:3%;
	}
	.container-fluid.five {
		height:860px !important;
	}
	.container-fluid.six {
		height:475px;
	}
	.container-fluid.saven {
		height:395px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
		margin-left:27%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
		margin-left:27%;
		line-height:28px;
	}
	.container-fluid.saven .row.six .col-md-4 ul {
		margin-left:24%;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
} 
@media only screen and (width: 667px) {
	.container {
		height:1660px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .t {
		margin-top:18px;
	}
	.container center h3 {
		font-size:80px;
	}
	.container-fluid.two {
		height:335px;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.five .container.four .row.four {
		margin-top:20%;
	}
	.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
		height:90px;
	}
	.container-fluid.four {
	    height:775px !important;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
	}
	.container.three {
		height:1525px;
	}
	.container-fluid.five {
		height:960px !important;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txxx {
		margin-top:58px;
	}
	.container-fluid.six {
		height: 500px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center img {
		margin-top: 12%;
    margin-left: -50%;
	}
	.container-fluid.saven {
		height:400px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
} 
@media only screen and (width: 414px) {
	.container {
		height:1652px;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container center h3 {
		font-size:60px;
	}
	.container-fluid.two center h2 {
		margin-top:37%;
	}
	.container-fluid.two center p {
		margin-top:12%;
	}
	.container-fluid.five .container.four .row.four {
		margin-top:20%;
	}
	.container-fluid.five .container.four .row.four .col-md-3.col-md-3.col-xs-12.text-center {
		height:90px;
	}
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.four {
	    height:805px !important;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txxx {
		margin-top:62px;
		margin-left:2%;
	} 
	.container.three {
		height:1472px;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .t {
		
		margin-left:9%;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .txx {
		margin-left:9%;
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 .tx {
		margin-left:0;
		margin-top:18%;
	}
	.container-fluid.five {
		height:878px !important;
	}
	.container-fluid.six {
		height:475px;
	}
	.container-fluid.saven {
		height:395px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
		margin-left:27%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
		margin-left:27%;
		line-height:28px;
	}
	.container-fluid.saven .row.six .col-md-4 ul {
		margin-left:24%;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
} 
@media only screen and (width: 736px) {
	.container {
		height:1538px;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.four {
	    height:730px !important;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
	}
	.container.three {
		height:1340px;
	}
	.container-fluid.five {
		height:645px !important;
	}
	.container-fluid.saven {
		height:410px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
		margin-left:38%;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
		margin-left:38%;
	}
	.container-fluid.saven .row.six .col-md-4 ul {
		margin-left:38%;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center img {
		margin-top: 12%;
        margin-left: -65%;
	}
} 
@media only screen and (width: 400px) {
	.container-fluid.two {
		height:590px;
	}
	.navbar.navbar-default .container-fluid .navbar-header .navbar-brand img {
		margin-left:2% !important;
	}
	.container-fluid.two center h2 {
		font-size:15px;
		margin-top:55%;
	}
	.container-fluid.two center p {
		font-size:12px;
		margin-top:2%;
	}
	.container-fluid.two center a {
		font-size:12px;
	}
	.container center h3 {
		font-size:18px;
		margin-top:10%;
	}
	.container .row .col-md-6.col-sm-6.col-xs-12.text-left h2 {
		font-size:18px;
	}
	.container {
		height:1358px;
	}
	.container .row .col-md-6.col-sm-6.col-xs-12 {
		height:220px;
	}
	.container-fluid.three {
	    height:235px;
    }
	.container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center h2 {
	    font-size:25px;
    }
    .container-fluid.four .container.two .row.three .col-md-4.col-sm-4.col-xs-12 center p {
        font-size: 15px;
    }
	.container-fluid.four {
	    height:730px !important;
    }
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12.text-center a {
		position: relative;
        top: 65px
	}
	.container-fluid.three .row.two .col-md-6.col-ms-6.col-xs-12 p {
		margin-top:0;
	}
	.container.three {
		height:1300px;
	}
	.container-fluid.five {
		height:630px !important;
	}
	.container-fluid.six {
		height:500px;
	}
	.container-fluid.six .container.five .row.five .col-md-6.col-sm-6.col-xs-12.text-center img {
		margin-top:20%;
	}
	.container-fluid.saven {
		height:360px;
	}
	.container-fluid.saven .row.six .col-md-4 h2 {
		font-size:18px;
	}
	.container-fluid.saven .row.six .col-md-4 p {
		font-size:15px;
	}
	.container-fluid.saven .row.six .col-md-8.text-center p {
		font-size:18px;
	}
}

 
